@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.red-circle {
  background-color: #991b1b;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  margin: 0.25rem;
}
